{% extends "layout.html" %}
{% block body %}
{% if error %}<p class="text-warning"><strong>Warning:</strong> {{ error }}</p>{% endif %}

<div class="jumbotron">
    <h1>Flickipedia</h1><br>
    <p>
        Welcome.  This is a tool that blends the photographic beauty of Flickr with the Encyclopedic richness of Wikipedia.
    </p>
    <p>
        To see how it works type in a topic below and hit "submit".  The first time you ask, it may take some time, but after that the response
        should be a bit more timely.  Once you see your article weigh on which photos you think are right.  This tool is still very young
        so there may be some kinks.
    </p>
    <p>
        Happy Viewing!
    </p>
</div>

<form class="inline" role="form" action="{{ url_for('mashup') }}" method=post>
    <div class="form-group">
        <label for="article">Wikipedia Article:</label>
        <input name="article" type="text" class="form-control" id="article" placeholder="Enter article">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<div style="clear:both;">&nbsp;</div>
<i><h5>Check out some recently visited articles...</h5></i>
<ul>
{% for a in accessed %}
    <li><a href="mashup?article={{a|safe}}">{{a|safe}}</a></li>
{% endfor %}
</ul>

{% endblock %}
