<!doctype html>
<html lang="en">
<head>
<title>Flickipedia</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}?0">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/site.js') }}?11"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/validate.min.js') }}"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-51755717-1', 'flikiwikimash.com');
    ga('send', 'pageview');
</script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Flickipedia</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{ url_for('about') }}">About</a></li>
              <li><a href="{{ url_for('contact') }}">Contact</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
              <li><a href="{{ url_for('mwoauth') }}">MWAuth</a></li>
              <li class="pull-right">
              {% if current_user.is_authenticated() %}
                  <em>Welcome {{ current_user.name }}</em> <a href="/logout">(logout)</a>
              {% else %}
                  <a href="/login">(login)</a>
              {% endif %}
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container">
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>
