{% extends "layout.html" %}
{% block body %}

<a class='title-image' href="https://www.flickr.com/photos/{{ photos.owner }}/{{ photos.photo_id }}" title="{{ photos.title }}"><img src="https://farm{{ photos.farm }}.staticflickr.com/{{ photos.server }}/{{ photos.photo_id }}_{{ photos.secret }}.jpg" width="600" height="400"></a>
<div style="clear:both;">&nbsp;</div>
<div style="clear:both;">&nbsp;</div>

{{ content | safe }}

<script type=text/javascript>
    InitPageCallbacks({{ num_photos|safe }}, "{{ section_img_class|safe }}");
</script>

{% endblock %}
