{% extends "layout.html" %}
{% block body %}

<h1>{{ title | safe }}</h1>
<div style="clear:both;">&nbsp;</div>

<a class='title-image' href="https://www.flickr.com/photos/{{ title_photo.owner }}/{{ title_photo.photo_id }}" title="{{ title_photo.title }}"><img src="https://farm{{ title_photo.farm }}.staticflickr.com/{{ title_photo.server }}/{{ title_photo.photo_id }}_{{ title_photo.secret }}.jpg" width="600" height="400"></a>
<div style="clear:both;">&nbsp;</div>
<div style="clear:both;">&nbsp;</div>

{{ content | safe }}

<script type=text/javascript>
    var photos = [];
    {% for pid in photo_ids %}
        photos.push({{ pid|safe }});
    {% endfor %}
    InitPageCallbacks(photos, {{ article_id|safe }}, {{ user_id|safe }}, {{ num_photos|safe }}, "{{ section_img_class|safe }}");
</script>

{% endblock %}
