{% extends "layout.html" %}
{% block body %}
{% if error %}<p class="text-warning"><strong>Warning:</strong> {{ error }}</p>{% endif %}

<link href="twitter-bootstrap-v2\docs\assets\css\bootstrap.css" rel="stylesheet">
<link href="twitter-bootstrap-v2\docs\assets\css\bootstrap-responsive.css" rel="stylesheet">

<div class="container">
    <div class="well">
        <legend>Mediawiki Photo Upload</legend>
        Would you like to upload this photo to MediaWiki?<br><br>
        <img src="{{photourl}}" width="{{photo_width}}"><br><br>
        <form id="callback_url" class="form-horizontal" method="post" action="{{ url_for('upload_complete') }}">
            <input type="hidden" name="article" value="{{article}}">
            <input type="hidden" name="photourl" value="{{photourl}}">
            <input type="hidden" name="flickr_photo_id" value="{{flickr_photo_id}}">
            <input type="text" class="input-xlarge" id="filename" name="filename" placeholder="Filename">
            <button type="submit" class="btn btn-success">Upload</button>
        </form>
        <br>Back to <a href="{{articleurl}}">{{article}}</a>

       <!-- TODO - Indicate if the photo has already been uploaded and by whom -->
    </div>
</div>

{% endblock %}
